
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
    <title>Document</title>
</head>
<body>
    {% if user.is_authenticated %}
    <div class="navbar-menu navbar-start">
        <span class="navbar-item">Welcome: {{user.username}}</span>
     
        <a class="navbar-item" href="{% url 'logout' %}">Logout</a>

        <a class="navbar-item" href="{% url 'goals' %}">Goals</a>

        <a class="navbar-item" href="{% url 'reminders' %}">Reminders</a>

        <a class="navbar-item" href="{% url 'transactions' %}">Transactions</a>




    </div>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Welcome: {{user.username}}</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
      
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                   Income
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{% url 'income_list' %}">View</a></li>
                  <li><a class="dropdown-item" href="{% url 'income_create' %}">Create</a></li>
                  
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                   Goals
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{% url 'goals' %}">View</a></li>
                  <li><a class="dropdown-item" href="{% url 'goal_create' %}">Create</a></li>
                  
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                   Reminders
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{% url 'reminders' %}">View</a></li>
                  <li><a class="dropdown-item" href="{% url 'reminder_create' %}">Create</a></li>
                  
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
{% else %}
    <div class="navbar-menu navbar-end">
       <a class="navbar-item" href="{% url 'login' %}">Log In</a>
        <!--   here is our new link      -->
       <a class="navbar-item" href="{% url 'signup' %}">Sign Up</a>
    </div>
{% endif %}
<div class="container">
    {% block content %}{% endblock %}
</div>
</body>
</html>