{% extends 'base.html' %}
{% block content %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

</html><h1 class="title">Goal list</h1>

  <div class="message-header"></div>
    <div class="detail__songs mb-5">    
      {% for goal in Goals %}
        <a href="{% url 'goal_create' %}" class="btn btn-secondary btn-lg">New Goal</a>
          <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{goal.goal_name}}</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">{{goal.target_date}}</h6>
                <h6 class="card-subtitle mb-2 text-body-secondary">${{goal.target_amount}}</h6>
                <p class="card-text">{{goal.notes}}</p>
                <a href="{% url 'goal_detail' goal.pk %}" class="card-link">View Goal</a>
                <a href="{% url 'goal_update' goal.pk %}" class="card-link">Edit</a>
                <a href="{% url 'goal_delete' goal.pk %}" class="card-link">Delete</a>
              </div>
            </div>
          {% empty %}
        
      {% endfor %}
{% endblock %}