{% extends 'base.html' %}
{% block content %}
{% load bootstrap5 %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'goal.css' %}">

<h1 class="title">Goal list</h1>
  <div class="message-header"></div>
  <a href="{% url 'goal_create' %}" class="boo btn btn-secondary btn-lg">New Goal</a>
  <container class="con">
    {% for goal in Goals %}
          <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{goal.goal_name}}</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">{{goal.target_date}}</h6>
                <h6 class="card-subtitle mb-2 text-body-secondary">${{goal.target_amount}}</h6>
                <p class="card-text">{{goal.notes}}</p>
                <a href="{% url 'goal_detail' goal.pk %}" class="btn btn-secondary btn-sm">View Goal</a>
                <a href="{% url 'goal_update' goal.pk %}" class="btn btn-secondary btn-sm">Edit</a>
                <a href="{% url 'goal_delete' goal.pk %}" class="btn btn-secondary btn-sm">Delete</a>
              </div>
            </div>
          {% empty %}
      {% endfor %}
  </container>
{% endblock %}