{% extends 'base.html' %}
{% block content %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

</html><h1 class="title">Income</h1>
  <div class="message-header"></div>
  <a href="{% url 'income_create' %}" class="btn btn-secondary btn-lg">New Goal</a>
    <div class="detail__songs mb-5">    
      {% for income in Incomes %}
          <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{income.amount}}</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">{{goal.target_date}}</h6>
                <h6 class="card-subtitle mb-2 text-body-secondary">${{goal.target_amount}}</h6>
                <p class="card-text">{{income.description}}</p>
                <a href="{% url 'income_detail' income.pk %}" class="card-link">View Goal</a>
                <a href="{% url 'income_update' income.pk %}" class="card-link">Edit</a>
                <a href="{% url 'income_delete' income.pk %}" class="card-link">Delete</a>
              </div>
            </div>
          {% empty %}
        
      {% endfor %}
{% endblock %}