{% extends 'base.html' %}
{% block content %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

</html><h1 class="title">Reminders</h1>

  <div class="message-header"></div>
    <div class="detail__songs mb-5"> 
        <a href="{% url 'reminder_create' %}" class="btn btn-secondary btn-lg">New Reminder</a>
   
      {% for reminder in Reminders %}
          <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{reminder.name}}</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">{{reminder.date}}</h6>
                <p class="card-text">{{reminder.notes}}</p>
                <a href="{% url 'reminder_detail' reminder.pk %}" class="btn btn-secondary btn-sm">View reminder</a>
                <a href="{% url 'reminder_update' reminder.pk %}" class="btn btn-secondary btn-sm">Edit</a>
                <a href="{% url 'reminder_delete' reminder.pk %}" class="btn btn-secondary btn-sm">Delete</a>
              </div>
            </div>
          {% empty %}
        
      {% endfor %}
{% endblock %}