{% extends 'base.html' %}
{% block content %}
{% load bootstrap5 %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<link rel="stylesheet" href="{% static 'transactions.css' %}">


</html><h1 class="title">Transactions</h1>
  <div class="message-header"></div>
  <a href="{% url 'transactions_create' %}" class="btn btn-secondary btn-lg">New Transaction</a>

      <div class="con">
              <table>
                <tr>
                  <th>Category</th>
                  <th>Date</th>
                  <th>Amount</th>
                  <th>Description</th>
                  <th>View</th>
                  <th>Edit</th>
                  <th>Delete</th>
                </tr>
                {% for transaction in Transactions %}

                <tr>
                  <td>{{transaction.category}}</td>
                  <td>{{transaction.date}}</td>
                  <td>{{transaction.amount}}</td>
                  <td>{{transaction.description}}</td>
                  <td><a href="{% url 'transactions_detail' transaction.pk %}" class="btn btn-secondary btn-sm">View </a></td>
                  <td><a href="{% url 'transactions_update' transaction.pk %}" class="btn btn-secondary btn-sm">Edit</a></td>
                  <td><a href="{% url 'transactions_delete' transaction.pk %}" class="btn btn-secondary btn-sm">Delete</a></td>
                </tr>
             
          {% empty %}
      {% endfor %}
    </table>
  </div>
{% endblock %}