{% extends 'base.html' %}
{% block content %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie List</title>
</head>
<body>
    
</body>
</html><h1 class="title">Transactions</h1>
<div class="gallery">

    
        {% for transaction in Transactions %}
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">{{transaction.category}}</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">{{transaction.date}}</h6>
            <p class="card-text">{{transaction.description}}</p>
            <a href="#" class="card-link">View</a>
            <a href="#" class="card-link">Edit</a>
            <a href="{% url 'goals' %}" class="card-link">Delete</a>
          </div>
        </div>
            {% empty %}
        
        {% endfor %}

      </div>
  
</div>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{transaction.description}}</h5>
    <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
{% endblock %}