h1 {
    color: red;
    font-family: 'Ubuntu', sans-serif;

}

.con {
    flex-wrap: wrap;
    display: flex;
    gap: 30px;
}

.card {
    border-color: black;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);

}

.btn {
    background-color: red;
    border-color: black;
}