h1 {
    color: red;
    font-family: 'Ubuntu', sans-serif;

}

.card-body {
    display: block;
}




 table, th, td {
    border: 1px solid;
    width: 50%;
  }
  
  td, th {
    text-align: center;
    padding: 10px;

  }

  
  tr:hover {
    background-color: rgb(151, 150, 148);
}

th {
    background-color: gray;
}

a.ajak {
    background-color: red;
}

.btn {
    background-color: red;
}